#######################################################################
# this file was obtained inside IPRadar2ForLinux_venv inside folder IPRadar2 of the original project path with:
# pipreqs --force ./ --ignore backups --mode compat
# or
# python ../IPRadar2ForLinux/updateRequirements.py
# to be used inside new venv_copy to recover 'project dependencies' with:
# pip install -r requirements.txt
# NOTE: with pip freeze > requirements_venv_IPRadar2ForLinux.txt
#       we can generate a requirments file to reproduce the 'complete venv dependencies'
#       which can be recovered with:
#       pip install -r requirements_venv_IPRadar2ForLinux.txt
#######################################################################
folium==0.20.0
geographiclib==2.1
getmac==0.9.5
playsound==1.3.0
psutil==7.2.2
pycountry==26.2.16
PyQt5==5.15.11
pyqt5_sip==12.18.0
pyshark==0.6
pythonping==1.1.4
Requests==2.34.2
